doctype
html(lang="ru")
  include common/variables
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preload" href="fonts/opensans.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="fonts/opensans.woff" as="font" type="font/woff" crossorigin)
    link(rel="preload" href="fonts/opensansbold.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="fonts/opensansbold.woff" as="font" type="font/woff" crossorigin)
    link(rel="stylesheet" href="css/style.min.css")
    title="Главная страница / Интернет-магазин «MISHKA»"
  body
    div(style="display: none")
      include ../img/sprite.svg
    header.site-header
      nav.site-header__site-navigation.site-navigation.site-navigation--image-color
        div.center-wrapper.site-navigation__center-wrapper
          button.site-navigation__menu-toggle(type="button" title="Открыть меню")
          ul.site-navigation__list
            li.site-navigation__item.site-navigation__logo.site-navigation__item--show
              a.site-navigation__logo-link
                picture.site-navigation__logo-image
                  source(media=desktop srcset="img/logo-desktop.svg")
                  source(media=tablet srcset="img/logo-tablet.svg")
                  img(src="img/logo-mobile.svg" alt="Логотип компании «MISHKA»")
            li.site-navigation__item.site-navigation__catalog.site-navigation__item--show
              a.site-navigation__link(href="catalog.html") Каталог товаров
            li.site-navigation__item.site-navigation__order.site-navigation__item--show
              a.site-navigation__link(href="form.html") Вязание на заказ
            li.site-navigation__item.site-navigation__search.site-navigation__item--show
              a.site-navigation__link(href="#")
                span.site-navigation__text Поиск по сайту
                svg(width="17.6" height="17.6")
                  use(href="#icon-search")
            li.site-navigation__item.site-navigation__cart.site-navigation__item--show
              a.site-navigation__link(href="#") Корзина: пока пуста
                svg(width="20.294" height="18.849")
                  use(href="#icon-cart")
            li.site-navigation__item.site-navigation__new.site-navigation__item--show
              a.site-navigation__link(href="#") Новые поступления
            li.site-navigation__item.site-navigation__sale.site-navigation__item--show
              a.site-navigation__link(href="#") Распродажа
            li.site-navigation__item.site-navigation__delivery.site-navigation__item--show
              span.site-navigation__text Бесплатная доставка по России
    main.site-main
      h1.visually-hidden Главная страница / Интернет-магазин «MISHKA»
      section.catalog.site-main__catalog
        h2.visually-hidden Разделы каталога
        div.center-wrapper.catalog__center-wrapper
          b.title.catalog__title Милые штуки ручной работы&nbsp;для&nbsp;дома
          ul.catalog__list
            li.catalog__item
              a.catalog__link.catalog__link--interior(href="interior.html") Предметы интерьера
            li.catalog__item
              a.catalog__link.catalog__link--toy(href="toy.html") Детские игрушки
      section.ware.site-main__ware
        div.center-wrapper.ware__center-wrapper
          div.ware__wrapper
            h2.title.ware__title Вязаные корзинки
            span.ware__best-article Товар недели
            div.ware__content
              p.ware__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
              table.ware__description-table
                tr.ware__description-row
                  td.ware__description-col Цвет:
                  td.ware__description-col «Тиффани»/серый
                tr.ware__description-row
                  td.ware__description-col Диаметр:
                  td.ware__description-col 25 см
                tr.ware__description-row
                  td.ware__description-col Высота:
                  td.ware__description-col 15 см
              picture.ware__image
                source(media=desktop srcset="img/triple-set-desktop@2x.webp 2x, img/triple-set-desktop@1x.webp 1x" type="image/webp")
                source(media=desktop srcset="img/triple-set-desktop@2x.jpg 2x, img/triple-set-desktop@1x.jpg 1x")
                source(media=tablet srcset="img/triple-set-tablet@2x.webp 2x, img/triple-set-tablet@1x.webp 1x" type="image/webp")
                source(media=tablet srcset="img/triple-set-tablet@2x.jpg 2x, img/triple-set-tablet@1x.jpg 1x")
                source(srcset="img/triple-set-mobile@2x.webp 2x, img/triple-set-mobile@1x.webp 1x" type="image/webp")
                img(src="img/triple-set-mobile@1x.jpg" srcset="img/triple-set-mobile@2x.jpg 2x" alt="Изображение вязаных корзинок")
              span.ware__price Цена: 990 руб.
              a.button.ware__order-button(href="#") Заказать
      section.briefly.site-main__briefly
        div.center-wrapper.briefly__center-wrapper
          div.briefly__wrapper
            h2.title.briefly__title Коротко о нас:
            ul.briefly__list
              li.briefly__item.briefly___item--flower Экологически чистые&nbsp;материалы
              li.briefly__item.briefly___item--money Скандинавский стиль по&nbsp;российской цене
              li.briefly__item.briefly___item--heart Увеличивает лайки на&nbsp;фотографиях
              li.briefly__item.briefly___item--ball Связано вручную с любовью и умилением
              li.briefly__item.briefly___item--rocket Поддержка отечественного производителя
              li.briefly__item.briefly___item--gift Поставляется в подарочной упаковке
      section.response.site-main__response
        div.center-wrapper.response__center-wrapper
          div.response__wrapper
            h2.title.response__title Отзывы
            ul.response__comment-list
              li.response__comment-item
                blockquote.response__comment-quote Давно получила такую классную карзинку, но забывал ответить. Так вот - вещь очень практичная,особенно для меня, удобно когда косметика или предметы для мейкапа под рукой 👍 также она мило вписывается везде, где бы я ее ни ставила:) мне очень нравится!
                cite.response__comment-author Валерия Худолей
                cite.response__comment-tag @valeriya_2020
              li.response__comment-item
                blockquote.response__comment-quote Я влюбилась!Я просто хочу рассказать, какой же это кайф - вязать из таких ниточек. Я никогда особо не тяготела к вязанию, очень уж медленно у меня тянулся этот процесс. Но эта пряжа поменяла мой взгляд на вязание крючком. А какие цвета!!!
                cite.response__comment-author Ирина Вязова
                cite.response__comment-tag @irina-smile
              li.response__comment-item.response__comment-item--show
                blockquote.response__comment-quote Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
                cite.response__comment-author Анастасия Красильникова
                cite.response__comment-tag @misssssiskras
            ul.response__control-list
              li.response__control-item
                button.response__control-button.response__control-button--prev(type="button" title="Предыдущий отзыв")
              li.response__control-item
                button.response__control-button.response__control-button--next(type="button" title="Следующий отзыв")
            a.button.response__write-button(href="response.html") Написать
      section.contacts.site-main__contacts
        div.center-wrapper.contacts__center-wrapper
          div.contacts__wrapper
            h2.title.contacts__title Контакты
            table.contacts__description-table
              tbody.contacts__description-tbody
                tr.contacts__description-row
                  td.contacts__description-col e-mail:
                  td.contacts__description-col
                    a.contacts__email(href="mailto:info@mimimishkashop.ru") info@mimimishkashop.ru
                tr.contacts__description-row
                  td.contacts__description-col адрес:
                  td.contacts__description-col
                    address.contacts__address г.&nbsp;Санкт-Петербург, ул.&nbsp;Большая Конюшенная, д.&nbsp;19/8, офис 101
          div.contacts__map#map
          a.button.contacts__write-us-button(href="write-us.html") Напишите нам
    include blocks/site-footer
    div.modal-wrapper
    section.modal-cart
      h2.title.modal-cart__title Добавить в корзину
      p.modal-cart__text Выберите размер:
      form.modal-cart__form(action="https://echo.htmlacademy.ru" method="get")
        ul.modal-cart__list
          li.modal-cart__item
            input.modal-cart__radio.visually-hidden(name="size" id="small-input" type="radio" value="small" checked)
            label.modal-cart__label(for="small-input") S
          li.modal-cart__item
            input.modal-cart__radio.visually-hidden(name="size" id="middle-input" type="radio" value="middle")
            label.modal-cart__label(for="middle-input") M
          li.modal-cart__item
            input.modal-cart__radio.visually-hidden(name="size" id="large-input" type="radio" value="large")
            label.modal-cart__label(for="large-input") L
        button.button.modal-cart__submit-button(type="submit") Добавить
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c50c4cad-f438-4cfc-8c3d-9eb6374817dd")
    script(src="js/app.min.js")
